<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Page Not Found</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
    <body>

        <div class="full-container">
            <div class="container four-oh-four">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3>Redirection Error</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
